* {
    box-sizing: border-box;
    margin: 0px;
    position: relative;
}
form {
    vertical-align: middle;
    padding: 0px 20px;
    position: absolute;
    top: -30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    height: 213px;
    max-width: 400px;
    width: 100%;
}
body {
    min-height: 100vh;
}
form > input {
    padding: 0px;
    display: inline-block;
    text-indent: 18px;
    margin-top: 4px;
    width: 100%;
    height: 50px;
    border: 2px solid rgba(0,0,0,0);
    border-bottom:none;
    outline: none;
    transition: all 0.2s ease;
}
.lip {
    background: #BBB;
    height: 3px;
    margin-bottom: 4px;
}
#lip2 {
    background: #777;
}
form > input:hover, form > input:focus {
    border: 2px solid #BBB;
    border-bottom:none;
}
form > input[type="submit"]:hover, form > input[type="submit"]:focus {
    border: 2px solid #999;
    border-bottom:none;
    background-color: #999;
}
form > input[type="submit"] {
    text-indent: 0px;
    background-color: #AAA;
}
html {
    background: #272429;
}
#noti {
    height: 30px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
    transition: color 0.3s ease;
    color: rgba(0,0,0,0);
    text-align: center;
}